/* Banners */

.banner-container > .components {
	display: block;
}

.banner {
	display: flex;
	padding: 16px;
	border-radius: 6px;
	gap: 8px;
}

.banner .banner-title {
	font-weight: 500;
	
}

.banner .banner-text {
	font-weight: 400;
}


/* Banner Colors */

.success {
	background-color: #ecfdf5;
	color: #047857;
}

.warning {
	background-color: #fffbeb;
	color: #b45309;
}

.error {
	background-color: #fef2f2;
	color: #b45309;
}

.neutral {
	background-color: #eff6ff;
	color: #1c51b9;
}